*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
ul,ol,dl{
    list-style-type: none
}
a, a:hover{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 1.4;
}
/* ====== Navbar Section Style Start ====== */
.navbar{
    background: transparent;
    padding: 26px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.navbar-nav{
    gap: 45px;
}
.navbar-nav .nav-item .nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
    transition: all linear 0.3s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #06C279;
}
.nav_actions{
    margin-left: 142px;
}
.btn{
    padding: 14.5px 25px;
    background: #06C279;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: all linear 0.3s;
}

.btn:hover{
    background: transparent;
    color: #1B1B1B;
    border: 2px solid #06C279;
}
/* ====== Navbar Section Style End ====== */

/* ====== Banner Section Style Start ====== */
#banner{
    padding-top: 85px;
    background: #EEFFF9;
}
.banner_Content{
    padding-top: 90px;
}
.banner_Content h1{
    width: 526px;
    font-weight: 700;
    font-size: 60px;
    line-height: 71.5px;
    color: #1B1B1B;
}
.banner_Content span{
    font-weight: 300;
}
.banner_Content p{
    width: 511px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #717171;
    margin-top: 37px;
    margin-bottom: 51px;
}
.banner_actions{
    display: flex;
    align-items: center;
    gap: 20px;
}
.banner_actions .banner_btn{
    display: inline-flex !important;
    align-items: center;
    gap: 12px;
}
.banner_btn{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 14.5px 25px;
    background: transparent;
    border: 2px solid #06C279;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
    transition: all linear 0.3s;
}
.banner_btn:hover{
    background: #06C279;
    color: #FFFFFF;
    border: 2px solid transparent;
}
.banner_btn i{
    font-size: 10px;
    color: #06C279;
    background: #DAF6EB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;   
}
.banner_btn:hover {
    background: #06C279;
    color: #FFFFFF;
}

.banner_btn:hover i {
    color: #FFFFFF;
}
/* ====== Banner Section Style End ====== */

/* ====== Experience Section Style Start ====== */
#experience {
    padding: 100px 0;
}

.experience_content {
    max-width: 550px;
}

.experience_content h2 {
    width: 451px;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #1B1B1B;
}

.experience_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;
    margin-top: 29px;
    margin-bottom: 45px;
}

.btn_learn_more {
    background: #DAF6EB;
    color: #06C279;
    padding: 14.5px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5px;
    transition: all linear 0.3s;
}

.btn_learn_more:hover {
    background: #06C279;
    color: #FFFFFF;
}

.experience_img_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.experience_img {
    width: 100%;
    height: 100%;
    border-radius: 50px 0 50px 50px;
    object-fit: cover;
}
/* ====== Experience Section Style End ====== */

/* ====== Services Section Style Start ====== */
#services {
    padding-top: 100px;
    padding-bottom: 70px;
    border-radius: 350px 0 350px 0;
    background: #EEFFF9;
}

.service_col_offset {
    margin-top: -40px;
}

.service_card_margin {
    margin-bottom: 40px;
}

.service_card {
    width: 312px;
    height: 322px;
    background: #FFFFFF;
    padding-top: 42px;
    padding-bottom: 60px;
    padding-left: 47px;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
    opacity: 0.5;
    transition: all linear 0.3s;
}

.service_card .service_icon:nth-child(1) {
    width: 90px;
    height: 90px;
}

.service_card .service_icon:nth-child(2) {
    width: 80px;
    height: 80px;
}

.service_card .service_icon:nth-child(3) {
    width: 74px;
    height: 74px;
}

.service_card .service_icon:nth-child(4) {
    width: 70px;
    height: 73px;
}

.service_card .service_icon svg path {
    fill: #06C279;
    transition: all linear 0.3s;
}

.service_card:hover .service_icon svg path {
    fill: #FFFFFF;
}

.service_card .service_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1B1B1B;
    margin-top: 14px;
    margin-bottom: 14px;
}

.service_card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.service_card:hover {
    background: #06C279;
    opacity: 1;
    transform: translateY(-5px);
}

.service_card:hover h3,
.service_card:hover p {
    color: #FFFFFF;
}

.services_content {
    padding-left: 113px;
}

.services_content h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #1B1B1B;
}

.services_content p {
    width: 543px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ====== Services Section Style End ====== */

/* ====== Project Section Style Start ====== */
#projects {
    padding: 100px 0;
}

.project_title {
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #1B1B1B;
    margin-bottom: 33px;
}

.project_filter_nav {
  border-bottom: 4px solid #CECECE;
  margin-bottom: 74px;
}

.project_filter_nav .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7B7B7B;
  padding: 21px 33px;
  border-bottom: 4px solid transparent;
  margin-bottom: -3px;
  transition: all linear 0.3s;
}

.project_filter_nav .nav-link:hover {
  color: #06C279;
}

.project_filter_nav .nav-link.active {
  color: #06C279;
  border-bottom: 4px solid #06C279;
}

.project_card{
    width: 424px;
    height: 404px;
}

.project_card:hover .project_img_wrapper img{
    box-shadow: 0 4px 25px 15px rgba(218, 246, 235, 0.3);
}

.project_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_card_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #1B1B1B;
    margin-top: 20px;
    margin-bottom: 7px;
}

.project_card_text {
    max-width: 344px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7B7B7B;
    display: inline-flex;
    justify-content: center;
}

.view_btn{
    margin-top: 164px;
}
/* ====== Project Section Style End ====== */

/* ====== Counter Section Style Start ====== */
#counter {
    padding-top: 70px;
    padding-bottom: 80px;
    border-radius: 300px 0 300px 0;
    background: #EEFFF9;
}

.counter_content {
    padding-right: 163px;
}

.counter_content h2 {
    width: 437px;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-transform: capitalize;
    color: #1B1B1B;
}

.counter_content p {
    width: 543px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;
    margin-top: 20px;
    margin-bottom: 31px;
}

.counter_card_margin {
    margin-bottom: 40px;
}

.counter_col_offset {
    margin-top: 40px;
}

.counter_card {
    background: #FFFFFF;
    padding: 41px 72px;
    border-radius: 15px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.counter_card .counter_icon:nth-child(1) {
    width: 73px;
    height: 73px;
}

.counter_card .counter_icon:nth-child(2) {
    width: 81px;
    height: 81px;
}

.counter_card .counter_icon:nth-child(3) {
    width: 80px;
    height: 71px;
}

.counter_card .counter_icon:nth-child(4) {
    width: 63px;
    height: 86px;
}

.counter_card .counter_icon svg path {
    fill: #06C279;
    transition: all linear 0.3s;
}

.counter_card:hover .counter_icon svg path {
    fill: #FFFFFF;
}

.counter_card .counter_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counter_card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1B1B1B;
    margin-top: 15px;
    margin-bottom: 5px;
}

.counter_card p {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #1B1B1B;
}

.counter_card:hover {
    background: #06C279;
    transform: translateY(-5px);
}

.counter_card:hover h3,
.counter_card:hover p {
    color: #FFFFFF;
}
/* ====== Counter Section Style End ====== */

/* ====== Feedback Section Style Start ====== */
#feedback {
    padding: 100px 0;
}

.feedback_title {
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-transform: capitalize;
    color: #1B1B1B;
    margin-bottom: 48px;
}

.feedback_card{
    width: 424px;
    height: 473px;
    padding: 45px 50px;
    border: 2px solid #F1F1F1;
    border-radius: 15px;
    background: #FFFFFF;
    margin-bottom: 46px;
    transition: all linear 0.3s;
}

.feedback_card:hover{
    border: 2px solid #06C279;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.05);
}

.feedback_img_wrapper{
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 99;
}

.feedback_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback_img_wrapper .quote_img{
    position: absolute;
    top: 25px;
    left: -20px;
    width: 43px;
    height: 43px;
    z-index: 999;
}

.feedback_card_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #1B1B1B;
    margin-top: 15px;
    margin-bottom: 4px;
}

.star_wrapper{
    margin-bottom: 20px;
}

.star_wrapper i{
    font-size: 18px;
    color: #FAB93C;
}

.feedback_card_text {
    max-width: 310px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
    display: inline-flex;
    justify-content: center;
}

.feedback_card h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #1B1B1B;
    margin-top: 15px;
    margin-bottom: 2px;
}

.feedback_card span{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7B7B7B;
}

.slider_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.slider{
    width: 35px;
    height: 10px;
    border-radius: 50px;
    background: #D7D7D7;
    cursor: pointer;
    transition: all linear 0.3s;
}

.slider_wrapper .active{
    background: #06C279;
}
/* ====== Feedback Section Style End ====== */

/* ====== Newsletter Section Style Start ====== */
#newsletter{
    background: #06C279;
}

.newsletter_Content{
    margin-top: 86px;
}

.newsletter_Content h2{
    width: 828px;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.newsletter_btn{
    padding: 14.5px 25px;
    background: #2F2F2F;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: all linear 0.3s;
}

.newsletter_btn:hover{
    background: #1B1B1B;
    color: #FFFFFF;
}

.newsletter_img_wrapper{
    width: 349px;
    height: 347px;
    position: relative;
}

.newsletter_img_wrapper img{
    position: absolute;
    bottom: -13px;
    right: -176px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ====== Newsletter Section Style End ====== */

/* ====== Footer Section Style Start ====== */
#footer {
    padding-top: 100px;
    padding-bottom: 14px;
}

.footer_column {
    margin-bottom: 46px;
}

.footer_logo {
    margin-bottom: 26px;
}

.footer_email {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7B7B7B;
}

.footer_phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7B7B7B;
    margin-top: 4px;
    margin-bottom: 20px;
}

.footer_social {
    display: flex;
    align-items: center;
    gap: 7px;
}

.footer_social a {
    width: 28.5px;
    height: 28.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06C279;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 14px;
    transition: all linear 0.3s;
}

.footer_social a:hover {
    background: #2F2F2F;
}

.footer_links h4, .footer_contact h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1B1B1B;
    margin-bottom: 25px;
}

.footer_links ul{
    padding-left: 0;
}

.footer_links ul li {
    margin-bottom: 9px;
}

.footer_links ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7B7B7B;
    transition: all linear 0.3s;
}

.footer_links ul li a:hover {
    color: #06C279;
    padding-left: 3px;
}

.footer_contact {
    width: 100%;
}

.footer_input {
    width: 100%;
    max-width: 337px;
    margin-top: 5px;
    margin-bottom: 14px;
}

.footer_input input {
    width: 100%;
    height: 48px;
    padding: 13px 15px;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1B1B1B;
    transition: all linear 0.3s;
}

.footer_input input::placeholder {
    color: #BDBDBD;
}

.footer_input input:focus {
    border-color: #06C279;
}

.footer_btn {
    padding: 14.5px 25px;
    border: none;
    border-radius: 5px;
    background: #06C279;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    transition: all linear 0.3s;
}

.footer_btn:hover {
    background: #FFFFFF;
    color: #06C279;
}

.footer_bottom {
    padding-top: 13px;
    border-top: 2px solid #E0E0E0;
}

.footer_bottom p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #7B7B7B;
}
/* ====== Footer Section Style End ====== */